<!-- START FOOTER -->
<footer class="footer_dark">
  <div class="footer_top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="widget">
            <div class="footer_logo">
              <a href="#"><img
                  src="assets/images/logo_light.png"
                  alt="logo"
                /></a>
            </div>
            <p>If you are going to use of Lorem Ipsum need to be sure there
              isn't hidden of text</p>
          </div>
          <div class="widget">
            <ul class="social_icons social_white">
              <li><a href="#"><i class="ion-social-facebook"></i></a></li>
              <li><a href="#"><i class="ion-social-twitter"></i></a></li>
              <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
              <li><a href="#"><i
                    class="ion-social-youtube-outline"
                  ></i></a></li>
              <li><a href="#"><i
                    class="ion-social-instagram-outline"
                  ></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6">
          <div class="widget">
            <h6 class="widget_title">Useful Links</h6>
            <ul class="widget_links">
              <li><a href="contact_us">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6">
          <div class="widget">
            <h6 class="widget_title">Category</h6>
            <ul class="widget_links">
              <li><a href="/men?cat=men">Men</a></li>
              <li><a href="/women?cat=women">Woman</a></li>
              <li><a href="/boys?cat=boys">Boys</a></li>
              <li><a href="/girls?cat=girls">Girls</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6">
          <div class="widget">
            <h6 class="widget_title">My Account</h6>
            <ul class="widget_links">
              <li><a href="/myaccount">My Account</a></li>
              <li><a href="/my_orders">Orders History</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="widget">
            <h6 class="widget_title">Contact Info</h6>
            <ul class="contact_info contact_info_light">
              <li>
                <i class="ti-location-pin"></i>
                <p>NO 14 MG NAGAR PALLIPURAM PO PALAKKAD</p>
              </li>
              <li>
                <i class="ti-email"></i>
                <a href="mailto:info@sitename.com">info@shopsimple.info</a>
              </li>
              <li>
                <i class="ti-mobile"></i>
                <p>+91 9387013795</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom_footer border-top-tran">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p class="mb-md-0 text-center text-md-start">© 2023 All Rights
            Reserved by Shopsimple</p>
        </div>
        <div class="col-md-6">
          <ul class="footer_payment text-center text-lg-end">
            <li><a href="#"><img
                  src="assets/images/visa.png"
                  alt="visa"
                /></a></li>
            <li><a href="#"><img
                  src="assets/images/discover.png"
                  alt="discover"
                /></a></li>
            <li><a href="#"><img
                  src="assets/images/master_card.png"
                  alt="master_card"
                /></a></li>
            <li><a href="#"><img
                  src="assets/images/paypal.png"
                  alt="paypal"
                /></a></li>
            <li><a href="#"><img
                  src="assets/images/amarican_express.png"
                  alt="amarican_express"
                /></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- END FOOTER -->

<a href="#" class="scrollup" style="display: none;"><i
    class="ion-ios-arrow-up"
  ></i></a>

<!-- Latest jQuery -->
<script src="/js/jquery-3.6.0.min.js"></script>
<!-- jquery-u
<script src="/js/jquery-ui.js"></script>
<!-- popper m-->
<script src="/js/popper.min.js"></script>
<!-- Latest cd and minified Bootstrap -->
<script src="/bootstrap/js/bootstrap.min.js"></script>
<!-- owl-caroin js  -->
<script src="/owlcarousel/js/owl.carousel.min.js"></script>
<!-- magnific min js  -->
<script src="/js/magnific-popup.min.js"></script>
<!-- waypointjs  -->
<script src="/js/waypoints.min.js"></script>
<!-- parallax-> 
<script src="/js/parallax.js"></script> 
<!-- countdow-->
<script src="/js/jquery.countdown.min.js"></script>
<!-- imageslos -->
<script src="/js/imagesloaded.pkgd.min.js"></script>
<!-- isotope  -->
<script src="/js/isotope.min.js"></script>
<!-- jquery.djs -->
<script src="/js/jquery.dd.min.js"></script>
<!-- slick js -->
<script src="/js/slick.min.js"></script>
<!-- elevatezoom js -->
<script src="/js/jquery.elevatezoom.js"></script>
<!-- scripts js -->
<script src="/js/scripts.js"></script>