<% include('header2') %>
<form class="bg0 p-t-75 p-b-85">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
                <div class="m-l-25 m-r--38 m-lr-0-xl">
                    <div class="wrap-table-shopping-cart">
                        <table class="table-shopping-cart">
                            <tr class="table_head">
                                <th class="column-1">Product</th>
                                <th class="column-1">Name</th>
                                <th class="column-3">Price</th>
                                <th class="column-4">Quantity</th>
                                <th class="column-5">Total</th>
                                <th class="column-2"> </th>
                            </tr>
                            {{#each cart}}
                            <input type="hidden" value="{{this.product}}" name="cart_dataaa">
                            <tr id="row{{this.product._id}}" class="table_row">

                                <td class="column-1">
                                    <div class="" ,>
                                        <a href="/productDetail?id={{this.product._id}}"><img
                                                style="width: 70px; height: auto;" class="mt-2"
                                                src="/images/{{this.product.image.[0]}}" alt="IMG"></a>
                                    </div>
                                </td>
                                    <td>{{this.total}}</td>
                                <td class="column-2">{{this.product.name}}</td>
                                <td id="price" class="column-3" value="{{this.product.price}}">₹
                                    {{this.product.price}}</td>
                                <input type="hidden" name="productprice" value="{{this.product.price}}">

                                {{!-- product id --}}
                                <input type="hidden" name="productId" value="{{this.product._id}}">

                                <td class="column-4">
                                    <div class="wrap-num-product flex-w m-l-auto m-r-0">
                                        <div class="p-3 cl8 hov-btn3 trans-04 flex-c-m"
                                            onclick="totalPrice('{{this.product._id}}','dec')">
                                            <i class="fs-16 zmdi zmdi-minus"></i>
                                        </div>

                                        <input disabled="" id="{{this.product._id}}"
                                            class="mtext-104 cl3 txt-center num-product" type="number"
                                            name="num-product" value="{{this.quantity}}">

                                        <div class="p-3 cl8 hov-btn3 trans-04 flex-c-m"
                                            onclick="totalPrice('{{this.product._id}}','inc','{{this.product.quantity}}')">
                                            <i class="fs-16 zmdi zmdi-plus"></i>
                                        </div>
                                    </div>

                                </td>
                                <td>&nbsp;&nbsp;
                                    ₹ <span id="total" name="productTotal" class="column-5"
                                        value="{{this.total}}">{{this.total}}</span></td>

                                <input type="hidden" id="product_id{{this.product._id}}"
                                    value="{{this.product._id}}">

                                <input type="hidden" name="cart_id" value="{{this._id}}">


                                <td>
                                    <a onclick="removeCartalert('{{this.product._id}}')"
                                        class="btn btn-outline-secondary btn-sm m-0">Remove</a>
                                </td>

                            </tr>
                            {{/each }}

                          
                        </table>
                    </div>

                   
                </div>
            </div>

            <div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
                <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
                    <h4 class="mtext-109 cl2 p-b-30">
                        Cart Totals
                    </h4>

                    <div class="mb-5 flex-w flex-t bor12 p-b-13">
                        <div class="size-208">
                            <span class="stext-110 cl2">
                                Subtotal:
                            </span>
                        </div>

                        <div class="size-209">
                            ₹<span class="mtext-110 cl2" id="subTotal">
                                {{subTotal}}
                            </span>
                        </div>
                    </div>

                   

                
                    <a onclick="proceedToCheckout()"
                        class="mt-5 flex-c-m stext-101 cl0 size-116 bg-info bor14 hov-btn3 p-lr-15 trans-04 pointer">
                        Proceed to Checkout
                    </a>

                </div>
            </div>
        </div>
    </div>
</form>