
<!-- Latest Bootstrap min CSS -->
<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
<!-- Google Font -->
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap" rel="stylesheet"> 
<!-- Icon Font CSS -->
<link rel="stylesheet" href="assets/css/ionicons.min.css">
<!--- owl carousel CSS-->
<link rel="stylesheet" href="assets/owlcarousel/css/owl.theme.css">
<link rel="stylesheet" href="assets/owlcarousel/css/owl.theme.default.min.css">
<!-- Magnific Popup CSS -->
<!-- Style CSS -->
<link rel="stylesheet" href="assets/css/style.css">




<script
		type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

<!-- START SECTION BREADCRUMB -->
<div class="breadcrumb_section bg_gray page-title-mini">
    <div class="container"><!-- STRART CONTAINER -->
        <div class="row align-items-center">
        	<div class="col-md-6">
                <div class="page-title">
            		<h1>Register</h1>
                </div>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb justify-content-md-end">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Pages</a></li>
                    <li class="breadcrumb-item active">Register</li>
                </ol>
            </div>
        </div>
    </div><!-- END CONTAINER-->
</div>
<!-- END SECTION BREADCRUMB -->

<!-- START MAIN CONTENT -->
<div class="main_content">

<!-- START LOGIN SECTION -->
<div class="login_register_wrap section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-md-10">
                <div class="login_wrap">
            		<div class="padding_eight_all bg-white">
                        <div class="heading_s1">
                            <h3>Create an Account</h3>
                        </div>
                        <form id="form" action="/signup" method="post">
                            <div class="form-group mb-3">
                                <input type="text" required="" class="form-control" name="name" placeholder="Enter Your Name">
                                <div><span style="color: rgb(246, 46, 46);" id="nameError" class="error"></span></div>

                            </div>
                            <div class="form-group mb-3">
                                <input type="email" required="" class="form-control" name="email" placeholder="Enter Your Email">
                                <div><span style="color: rgb(246, 46, 46);" id="emailError" class="error"></span></div>

                            </div>
                       
                            <div class="form-group mb-3">
                    
                                <input type="number" required="" class="form-control" id="mobile" name="mobile" placeholder="enter your mobile number">
                               
                                <div><span style="color: rgb(246, 46, 46);" id="phoneError" class="error"></span></div>
                            </div>
                            <div class="form-group mb-3">
                                <input class="form-control" required="" type="password" name="password" placeholder="Password">
                                 <div><span style="color: rgb(246, 46, 46);" id="passwordError" class="error"></span></div>

                            </div>
                            
                            <div class="login_footer form-group mb-3">
                                <div class="chek-form">
                                    <div class="custome-checkbox">
                                        <input class="form-check-input" required="" type="checkbox" name="checkbox" id="exampleCheckbox2" value="" >
                                        <label class="form-check-label" for="exampleCheckbox2"><span>I agree to terms &amp; Policy.</span></label>
                                    </div>
                                </div>
                            </div>
                           {{#if message}}
                                <p class="alert-danger">{{message}}</p>
                            {{/if}}
                         
                            <div class="form-group mb-3">
                                <button type="submit" class="btn btn-fill-out btn-block" name="register">Register</button>
                            </div>
                        </form>
                     
                        <div class="different_login">
                            <span> or</span>
                        </div>
                        <ul class="btn-login list_none text-center">
                            <li><a href="#" class="btn btn-facebook"><i class="ion-social-facebook"></i>Facebook</a></li>
                            <li><a href="#" class="btn btn-google"><i class="ion-social-googleplus"></i>Google</a></li>
                        </ul>
                        <div class="form-note text-center">Already have an account? <a href="/login">Log in</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END LOGIN SECTION -->

<script>
    const form = document.getElementById('form');
     const nameInput = form.elements.name
    const emailInput = form.elements.email
    const mobileInput = form.elements.mobile

    const nameError = document.getElementById('nameError');
    const emailError = document.getElementById('emailError');
    const phoneError = document.getElementById('phoneError');
    form.addEventListener('submit',e=>{
        e.preventDefault()

    if(nameInput.value.trim()===''){
        nameError.textContent = "Please enter your name"
        return
    }
    nameError.textContent = '';

      const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    if (!emailRegex.test(emailInput.value)) {
      emailError.textContent = 'Please enter a valid email address.';
      return;
    }
    emailError.textContent = '';

        const phoneRegex = /^\d{10}$/;
    if (!phoneRegex.test(mobileInput.value)) {
      phoneError.textContent = 'Please enter a 10-digit phone number.';
      return;
    }
    phoneError.textContent = '';

        form.submit()
    })
  

</script>